<h3>Customers</h3>
<table class="table table-striped table-bordered table-hover">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>State</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% _.each(customers, function (customer) { %>
		<tr data-id="<%= customer.id %>" data-model="customer">
			<td><%= customer.id %></td>
			<td><%= customer.name %></td>
			<td><%= customer.email %></td>
			<td><%= customer.state %></td>
			<td><a href="show/<%= customer.id %>">Show</a></td>
			<td><a href="edit/<%= customer.id %>">Edit</a></td>
			<td><a href="destroy/<%= customer.id %>">Delete</a></td>
		</tr>
	<% }) %>
</table>